@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'bootstrap-datetimepicker';

input,text_field{
    width: 75%;
    
}

.navbar{
    background-color: #2A4E6C;
    color: white;
}

input#appointment_sub{
    width: 20%;
}

label{
    width: 10%;
}

.form_horizontal{
    text_align: center;
    margin:0 auto;
    width: auto;
}


